<div class="container w-100">
  <div class="row w-100 mt-5">
    <div class="col-md-12">



        <h1 class="text-monospace text-center"> Sejam bem vindos</h1>


    </div>
<div class="row w-100 mt-4 mb-4">

<div class="col-md-12">
    <p class="text-justify text-monospace">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis praesentium ab magni provident eligendi numquam maxime consequatur nostrum doloremque porro ut, expedita ipsa voluptate, enim perspiciatis mollitia vitae, blanditiis magnam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos in non aliquam recusandae voluptatem suscipit quasi et atque cumque quas? Reiciendis asperiores modi illo quasi quo fugiat enim libero corrupti?

    </p>
</div>
</div>
</div>  
</div>


<div class="parallax"></div>
<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold"> Ver o feed</button>

        
    </div>


</div>
